@use "sass:math"
// 连接线颜色
$line-color: #67c23a
$main-line-width: 6px
$main-line-padding: 12px
$main-line-left: 20px
// 连接线长度
$line-length: $main-line-width + $main-line-padding +  $main-line-left

// 卡片容器
.card-container
  position: relative
  border-left: $line-color $main-line-width solid
  margin-left: 128px
  padding: $main-line-padding

  .add-btn
    $btn-width: 48px
    $btn-pos: -(math.div($btn-width, 2) + math.div($main-line-width, 2))
    position: absolute
    width: $btn-width
    height: $btn-width
    border-radius: 50%
    bottom: $btn-pos
    left: $btn-pos
    //边框与文字颜色
    border: $line-color 3px solid
    color: $line-color
    background-color: white

    &:hover
      box-shadow: 0 0 16px $line-color
// 卡片包装
.card-co
  margin-bottom: 24px
  margin-left: $main-line-left

// 卡片
.card
  width: 70%
  background: #ffffff
  border: $line-color 2px solid
  border-radius: 8px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
  padding: 16px
  position: relative

  &:hover
    box-shadow: 0 0 16px $line-color

  // 连接线：刚好碰到竖轴
  &::before
    content: ""
    position: absolute
    left: -#{$line-length}
    top: 50%
    transform: translateY(-50%)
    width: $line-length
    height: 4px
    background-color: $line-color

.child-ul
  margin-left: 30px
  position: relative
  // 宽度自适应
  width: fit-content

  &:hover
    .child-add-btn
      display: block

  > div
    padding: 12px 8px 4px 12px
    border-top: none
    border-right: none
    border-bottom: 2px solid $line-color
    border-left: 2px solid $line-color
    // 宽度自适应
    width: fit-content

  .child-add-btn
    position: absolute
    display: none
    // 宽度样式
    $btn-width: 24px
    $btn-pos: -12px
    width: $btn-width
    height: $btn-width
    border-radius: 50%
    bottom: $btn-pos
    left: $btn-pos
    //边框与文字颜色
    border: $line-color 2px solid
    color: $line-color
    background-color: white