@charset "UTF-8"
body
  background-color: #f4f4f5
// 导航条相关变量
$long-nav-weight: 96px
// 盒子相关变量
$box-padding: 20px
$box-weight: 240px
$box-background: #e9e9eb
// 大餐盘相关变量
$layout-weight: 1130px
// 乘以0.66是因为：当前浏览器被放大了1.5倍
// floor丢掉小数，round四舍五入
$layout-height: floor(891px * 0.66) - $box-padding
// 盒子:计算的变量
$top-height: $layout-height - $box-weight - 3*$box-padding
$left-box-left: 2*$box-padding + $long-nav-weight

//盒子的边框与标题颜色
@mixin box-color($line-color: #008A5B)
  border-color: $line-color
  &:hover
    box-shadow: 0 0 16px $line-color
  h3
    color: $line-color

#meal-layout
  width: $layout-weight
  height: $layout-height
  position: relative
  left: floor((1908px * 0.66 - $layout-weight) * 0.5)
  background: linear-gradient(-45deg, #40c9ff 0%, #e81cff 100%)
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7)
  border-radius: 36px
  //内边距调整
  box-sizing: border-box
  padding: $box-padding

  & > *
    position: absolute
    box-sizing: border-box
    box-shadow: 0 0 16px rgb(0, 0, 0, 0.7)
    //文字内容
    text-align: center

  .box
    background-color: $box-background
    border:
      style: solid
      width: 3px
      radius: 36px
//去除列表小黑点
ul
  list-style: none
  text-align: left
  margin-left: -20px

  a
    text-decoration: none

#long-nav
  left: $box-padding
  width: $long-nav-weight
  height: $layout-height - 2*$box-padding
  @include box-color(#337ecc)

  .item
    height: 20px
    padding: 6px
    margin: 4px
    font-weight: bolder
    font-size: 15px
    background-color: #e9e9eb
    border-radius: 16px
    border: 2px solid
    // 改变鼠标样式
    cursor: pointer
    -webkit-user-select: none
    user-select: none
    // 设置单、偶数的卡片颜色
    @mixin item-color($my-color: #67C23A,$my-color2: #e1f3d8)
      color: $my-color
      border-color: $my-color
      &:hover
        background-color: $my-color2
      &.selectNav
        background-color: $my-color
        color: $my-color2
    // 奇数元素
    &:nth-child(even)
      @include item-color()
    // 偶数元素
    &:nth-child(odd)
      @include item-color(#409EFF, #c6e2ff)

//上面的盒子
.top
  top: $box-padding
  height: $top-height

#main-box
  left: $left-box-left
  width: $layout-weight - 4*$box-padding - $long-nav-weight - $box-weight
  @include box-color(#529b2e)

#big-side
  right: $box-padding
  width: $box-weight
  @include box-color(#73767a)

//下面的盒子
.bottom
  bottom: $box-padding
  width: $box-weight
  height: $box-weight

#bottom1
  left: $left-box-left
  @include box-color(#b88230)

#bottom2
  left: 3*$box-padding + $long-nav-weight + $box-weight
  @include box-color(#c45656)

#bottom3
  left: 4*$box-padding + $long-nav-weight + 2*$box-weight
  @include box-color(#337ecc)

#circle
  // 圆的相关变量
  $circle-width: 150px
  $circle-border-width: 8px
  bottom: $box-padding
  right: $box-padding
  width: $circle-width
  height: $circle-width
  border-radius: 50%
  background-image: linear-gradient(135deg, #ca1eb3, #FD2E24, #FFD701)
  //样式
  #updateTime
    position: relative
    width: $circle-width - 2*$circle-border-width
    height: $circle-width - 2*$circle-border-width
    top: $circle-border-width
    left: $circle-border-width
    background-color: $box-background
    border-radius: 50%
    //字体
    color: #303133
    font-weight: bolder
    display: flex
    box-sizing: border-box
    padding: 8px
    align-items: center
