@charset "UTF-8"
@import "../密码备忘/sass/tooltip"
body
  background-color: #f4f4f5
// 布局相关变量
$layout-height: 580px
$layout-weight: 1130px
$layout-padding: 24px
// 盒子相关变量
$long-nav-weight: 96px
$box-padding: 20px
$bottom-box-weight: 240px
$box-background: #e9e9eb
//计算的变量
$top-height: $layout-height - $bottom-box-weight - 2*$layout-padding - $box-padding
$left-box-left: $layout-padding + $long-nav-weight + $box-padding

//盒子的边框与标题颜色
@mixin box-color($line-color: #008A5B)
  border-color: $line-color
  &:hover
    box-shadow: 0 0 16px $line-color
  h3
    color: $line-color

.meal-layout
  width: $layout-weight
  height: $layout-height
  position: relative
  left: 45px
  background: linear-gradient(-45deg, #40c9ff 0%, #e81cff 100%)
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7)
  border-radius: 36px
  //内边距调整
  box-sizing: border-box
  padding: $layout-padding

  & > *
    position: absolute
    box-sizing: border-box
    box-shadow: 0 0 16px rgb(0, 0, 0, 0.7)
    //文字内容
    text-align: center

  .box
    background-color: $box-background
    border:
      style: solid
      width: 3px
      radius: 36px
    //去除列表小黑点
    ul
      list-style: none
      text-align: left
      margin-left: -20px

      a
        text-decoration: none

#long-nav
  left: $layout-padding
  width: $long-nav-weight
  height: $layout-height - 2*$layout-padding
  @include box-color(#337ecc)

  .item
    height: 20px
    padding: 6px
    margin: 4px
    font-weight: bolder
    font-size: 15px
    background-color: #e9e9eb
    border-radius: 16px
    border: 2px solid
    // 改变鼠标样式
    cursor: pointer
    user-select: none
    -webkit-user-select: none
    // 设置单、偶数的卡片颜色
    @mixin item-color($my-color: #67C23A,$my-color2: #e1f3d8)
      color: $my-color
      border-color: $my-color
      &:hover
        background-color: $my-color2
      &.selectNav
        background-color: $my-color
        color: $my-color2
    // 奇数元素
    &:nth-child(even)
      @include item-color()
    // 偶数元素
    &:nth-child(odd)
      @include item-color(#409EFF, #c6e2ff)

#main-box
  top: $layout-padding
  left: $left-box-left
  width: $layout-weight - 2*$layout-padding - 2*$box-padding - $long-nav-weight - $bottom-box-weight
  height: $top-height
  @include box-color(#529b2e)

#big-side
  top: $layout-padding
  right: $layout-padding
  width: $bottom-box-weight
  height: $top-height
  @include box-color(#73767a)

#bottom1
  bottom: $layout-padding
  left: $left-box-left
  width: $bottom-box-weight
  height: $bottom-box-weight
  @include box-color(#b88230)

#bottom2
  bottom: $layout-padding
  left: $layout-padding + $long-nav-weight + 2*$box-padding + $bottom-box-weight
  width: $bottom-box-weight
  height: $bottom-box-weight
  @include box-color(#c45656)

#bottom3
  bottom: $layout-padding
  left: $layout-padding + $long-nav-weight + 3*$box-padding + 2*$bottom-box-weight
  width: $bottom-box-weight
  height: $bottom-box-weight
  @include box-color(#337ecc)

#circle
  bottom: $layout-padding
  right: $layout-padding
  $circle-width: 150px
  width: $circle-width
  height: $circle-width
  border-radius: 50%
  background-image: linear-gradient(135deg, #ca1eb3, #FD2E24, #FFD701)
  $border-width: 8px
  //样式
  #updateTime
    position: relative
    width: $circle-width - 2*$border-width
    height: $circle-width - 2*$border-width
    top: $border-width
    left: $border-width
    background-color: $box-background
    border-radius: 50%
    //字体
    color: #303133
    font-weight: bolder
    display: flex
    box-sizing: border-box
    padding: 8px
    align-items: center
