body
  text-align: center
  background: linear-gradient(to bottom right, #6a9a8b 50%, #f2f2f2 50%)

#twelveCard
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  > div
    width: 320px
    height: 240px
    border: #5b88ea solid 2px
    background-color: white
    //设置下边距
    margin-bottom: 20px
    //设置圆角阴影
    border-radius: 16px
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7)

.in
  //收入的字体
  color: #c45656
  font-weight: bolder

.out
  //支出的字体
  color: #17bd17
  font-weight: bolder