@use "../表格样式/sass/myDialog"
#downUl
  font-size: larger

  li
    padding: 6px

    a
      text-decoration: none

    button
      opacity: 0
      /* 设置过渡效果 */
      transition: all 1s

    &:hover button
      /* 鼠标悬浮时按钮出现 */
      opacity: 1

figcaption
  text-align: center

footer
  position: absolute
  bottom: 0
  width: 100%
  overflow: auto