.my-table {
    width: 100%;
    margin-bottom: 1rem;
    /*表名放下面*/
    /*caption-side: bottom;*/
    /*文字居中*/
    text-align: center;
    /*单元格之间空隙*/
    border-collapse: separate;
    border-spacing: 1px;
}

.my-table > :not(caption) > * > * {
    /*单元格大小、背景色*/
    padding: 0.3rem 0.3rem;
    background-color: #e1f3d8;
}

.my-table > thead > tr > th {
    /*表头样式*/
    background-color: #67C23A;
    border-bottom: #529b2e 3px solid;
    color: #fff;
}

.my-table > tbody > tr:nth-of-type(odd) > * {
    /*奇数单元格样式*/
    background-color: #f0f9eb;
}

.my-table > tbody > tr:hover > * {
    /*鼠标悬停样式*/
    background-color: #b3e19d;
}

.my-table > caption {
    /*表标题*/
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #606266;
    -webkit-user-select: none;
    user-select: none;
}

.my-table button:hover {
    /*表中按钮*/
    box-shadow: 0 0 8px 0 #73767a;
}


.my-table .del-btn {
    /*表中删除按钮*/
    padding: 3px 5px 3px 8px;
    font-size: small;
    color: white;
    background-color: #F56C6C;
    border: 2px solid #c45656;
    border-radius: 12px 0 0 12px;
}

.my-table .upd-btn {
    /*表中修改按钮*/
    padding: 3px 8px 3px 5px;
    font-size: small;
    color: white;
    background-color: #409EFF;
    border: 2px solid #337ecc;
    border-radius: 0 12px 12px 0;
}